[Unit]
Description=Application launcher service
Requires=wpeframework-appmanager.service
After=wpeframework-appmanager.service

[Service]
Type=notify

ExecStart=/usr/bin/sceneset
